/* styles.css */

body {
	background-color: #3C6756;
	font-family: Helvetica, Arial, sans-serif; 
}

* {
	font-family: Arial;
}

h1 {
	color: black; 
	font-size: 72px; 
	text-align: center; 
}


.backgroundImage {
	background-image: url(../img/catWithoutBowtie.png); 
	width: 670px;
	height: 533px; 
	margin: 64px auto;
	background-size: cover;
	background-position: center;  
	background-repeat: no-repeat;  
	background-size: contain;
}

.backgroundImage:hover {
	background-image: url(../img/catWithBowtie.png);
	cursor: crosshair; 
	width: 670px;
	height: 533px;  
	margin: 64px auto;
	background-size: cover;
	background-position: center;  
	background-repeat: no-repeat;  
	background-size: contain;
}